<header>
    {% if site.logo-motif.enabled and site.logo-motif.src.size > 0 and site.logo-motif.width.size > 0 and site.logo-motif.height.size > 0 %}
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}{{ site.logo-motif.src }}" alt="{{ site.title }}" width="{{ site.logo-motif.width }}" height="{{ site.logo-motif.height }}" /></a>
    {% endif %}

    {% if site.logo-title.enabled %}
    <section class="logo-title">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </section>
    {% endif %}

    <nav>
        <ul>
            {% for item in site.header-menu %}
            <li><small><a href="{{ item.url }}">{{ item.name }}</a></small></li>
            {% endfor %}
        </ul>
    </nav>
</header>